---
title: Homepage
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
</head>

<body>
  <main>
    {{ content }} 
  </main>
  <footer>
  <ul style="list-style-type:none;">
    <li>Email: <a href="mailto:playingcardsinfo@gmail.com"> Playingcardsinfo@gmail.com</a></li>
    <li>Instagram: <a href="https://instagram.com/Planetaryplayingcards">Planetary Playing Cards </a></li>
  </ul>
  <h6> 2024 Planetary Playing Cards. All rights reserved.</h6>
  </footer>
</body>
</html>